body{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
}
h3{
    color: white;
    text-align: center;
}
.box{
    border: 1px solid aquamarine;
    color: aquamarine;
    height: auto;
    width: auto;
    min-width: 200px;
    max-width: 1000px;
    min-height: 50px;
    max-height: 300px;
    overflow: auto;
    max-width: 90%; 
    text-align: center;
    margin: 20px auto; 
}
.box_2{
    border: 1px solid green;
    height: auto;
    width: auto;
    min-width: 200px;
    max-width: 1000px;
    min-height: 50px;
    max-height: 300px;
    overflow: auto;
    word-wrap: break-word;
    float: left;
    margin: 20px;
    color: green;
    border-radius: 20px;
}
.imagens{
    float: left;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}
